*{padding: 0;
margin: 0;}

body{background-image: linear-gradient(to bottom, rgb(228, 217, 217),lightblue)
}

header{background-image: url(../fotos/header.jpg);
    background-size:cover;
    height: 400px;
    margin-bottom: 20px;
    ;

    h1{font-style:oblique;
        font-size: 90px;    
        color: rgb(236, 117, 19) ;    

        text-align: center;        

        font-family: 'Shadows Into Light', cursive;
        animation-name: tituloPrincipal;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        padding-bottom: 50px;
        padding-top: 100px;
           
        @keyframes tituloPrincipal {
            0%{transform:rotate(0deg) ;
            }
        
            100%{color:rgb(52, 87, 161);
            transform:rotateX(360deg) ;}
 
        } 
      }

}

.navegador{
    background-image: linear-gradient(to right,rgb(65, 138, 65),rgb(105, 174, 221))
    ;
    
 .navegadorLista{
    
    font-size: 20px;
    height:100px;
    list-style: none;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    animation-name: navGeneral;
    animation-duration: 6s;
    animation-iteration-count: 1;
    } 
        
    @keyframes navGeneral {
    from{margin-left: 970px;}
    to{margin-right:0px;}  
    }
    
    &__item{font-family: cursive;}

    &__link {
        text-decoration: none;
        color :rgb(116, 32, 116);
        border-radius: 0.5px; 
        border-style:dashed;

     &--activo{background-color: black;
    color: snow;}
    }       
        
    .logo{
        font-size: 20px;
        color: greenyellow;
        background-color: black;
        animation-name: loGo;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes loGo{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    }
    
    
}

.introduccion{font-style: italic;
    font-size: 32px;
    text-align: center;
    color: rgb(30, 9, 107);
    font-family: 'Indie Flower', cursive;
    margin-bottom: 50px;
    padding-left: 15;
    background-color: cadetblue;
    animation-name: variedadIndex;
    animation-duration: 15s;
    animation-iteration-count: 20;
    
    
    @keyframes variedadIndex {
       0%{background-color: coral;
        }
        25%{background-color: rgb(129, 238, 129);
        }
        50%{background-color: rgb(158, 56, 56);
        }
        100%{background-color: darkkhaki;}
    
        from{opacity: 0;}
        to{opacity: 1;}
    }   
}

.fotosCarousel{

    height: 400px;
    width: 100%;
}

.articulo{margin: 20px 20px;

    h4{font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 25px;
        color: rgb(18, 20, 18);
        background-image: linear-gradient(to bottom,rgb(199, 211, 195),rgb(148, 148, 141));
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p{
    color: indianred;
    font-family: monospace;
    font-size: 30px;
    text-align: center;
    margin: 20px 20px;
    border-color: rgb(26, 25, 25);
    border-radius: 2px ;
    border-style:dotted;
    
    }
}

.grilla{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

    .galeria{flex: 25%;
        padding: 5px;
        margin-left: 15%;

        img{width: 20%;
            margin-top: 5px;


        }
    }






}

.cesped{margin: 20px;

    .tiposCesped{font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    }
    h2{font-size: 25px;
        font-weight: bolder;
        color: black;
        text-align: center;
        margin-bottom: 20px;
        background-color: rgb(170, 162, 184)
    }

    p{  font-size: 19px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 15px;        
    }
    ul{font-size: 18px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-bottom: 30px;
        li{
        list-style-type: circle;}
     }
   
     .fotosCesped{
        h3{
            text-align: center;
            color: rgb(202, 16, 25);
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    


}
h2{ font-size: 25px;
    font-weight: bolder;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgb(168, 153, 129);


    
}
h4{font-size: 300px;
background-color: red;
color: black;}

.nosotros{
    color: rgb(10, 11, 117);
    font-family: 'Heebo', sans-serif;
    font-style: italic;
    margin-bottom: 16px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 21px;
}  

.fotoNosotros{ 
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}

.formulario{margin-left: 20px;
margin-bottom: 35px;}

@mixin parrafos($estilo,$grosor,$tamano,$color,$colorFondo,){

    font-family:$estilo ;
    font-weight:$grosor ;
    font-size: $tamano;
    background-color: $colorFondo;
    color:$color ;
    text-align: center;
    margin-bottom:35px; 
}

.parrafoUno{
    @include parrafos(verdana,0.2px,23px,white,rgb(53, 47, 47));
}

.parrafoDos{
    @include parrafos(verdana, 0.3px,25px,rgb(95, 230, 162) ,rgb(112, 33, 46));

}



.audio{
    text-align: center;
    margin-bottom: 50px;
    
}
footer{
background-color: rgb(40, 102, 40);
display: block;

justify-content: space-evenly;
text-align: center;

height: 150px;

p{font-size: 20px;
color: black;}

}



@media only screen and(max-width:600px){
    body{background-image:linear-gradient(to bottom,rgb(84, 146, 84),rgb(216, 189, 139)) }

    h1{padding-top: 100px;}

    .navegador{height: 200px;
    padding-top: 48px;
    }
   


   .navegadorLista{flex-direction: column;
    font-size: 30px;
    justify-content: space-between;
    height: max-content;
    }

    .introduccion{font-family: 'Merienda', cursive;
    font-size: 25px;
    }

    footer{background-image: linear-gradient(to bottom,black,grey)    
    }

    .articulo{color: gray;
    font-weight: bolder;
    }

    h2{background-color: rgb(223, 164, 88);
    color: rgb(81, 102, 218);
    }

    .nosotros{color: rgb(26, 24, 24);
    background-image: linear-gradient(to left,rgb(185, 76, 76),rgb(69, 69, 197));
    }

    .fotoNosotros{
        flex-direction: column;
        width: 50%;
        height: 35%;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        margin-left: 25%;
        
    }

    
 }







    























